In [2]:
import pandas as pd

In [4]:
dados_vacinacao = pd.read_csv("../input/brasilio/caso_full.csv")

In [14]:
dados_sergipe = dados_vacinacao.query("state == 'SE' and place_type == 'state'").sort_values(by='date')
dados_sergipe = dados_sergipe[['date','epidemiological_week','last_available_confirmed','last_available_deaths','new_confirmed','new_deaths']]
dados_sergipe = dados_sergipe.reset_index(drop=True)
dados_sergipe

,date,epidemiological_week,last_available_confirmed,last_available_deaths,new_confirmed,new_deaths
0,2020-03-14,202011,1,0,1,0
1,2020-03-15,202012,1,0,0,0
2,2020-03-16,202012,5,0,4,0
3,2020-03-17,202012,5,0,0,0
4,2020-03-18,202012,6,0,1,0
...,...,...,...,...,...,...
680,2022-01-23,202204,283671,6074,699,2
681,2022-01-24,202204,284333,6075,662,1
682,2022-01-25,202204,284928,6077,595,2
683,2022-01-26,202204,286187,6079,1259,2
684,2022-01-27,202204,287212,6081,1025,2