# Dados de Casos e Óbitos

Os dados de casos e óbitos são filtrados a partir dos dados disponibilizados pelo site [brasil.io](https://brasil.io). Os dados mais atualizados são apenas do estado como um todos. Os dados dos municípios não estão atualizados. 

O arquivo de `input` não está incluso nesse repositório por conta do tamanho.

In [1]:
import pandas as pd

In [2]:
dados_vacinacao = pd.read_csv("../input/brasilio/caso_full.csv")

In [3]:
dados_sergipe = dados_vacinacao.query("state == 'SE' and place_type == 'state'").sort_values(by='date')
dados_sergipe = dados_sergipe[['date','epidemiological_week','last_available_confirmed','last_available_deaths','new_confirmed','new_deaths']]
dados_sergipe = dados_sergipe.reset_index(drop=True)
dados_sergipe

,date,epidemiological_week,last_available_confirmed,last_available_deaths,new_confirmed,new_deaths
0,2020-03-14,202011,1,0,1,0
1,2020-03-15,202012,1,0,0,0
2,2020-03-16,202012,5,0,4,0
3,2020-03-17,202012,5,0,0,0
4,2020-03-18,202012,6,0,1,0
...,...,...,...,...,...,...
739,2022-03-23,202212,324533,6303,196,2
740,2022-03-24,202212,324711,6304,178,1
741,2022-03-25,202212,324903,6305,192,1
742,2022-03-26,202212,325084,6307,181,2
743,2022-03-27,202213,325274,6309,190,2

A partir do dia 27/03, os dados do brasil.io não foram mais atualizados como pode ser lido neste comunicado: https://blog.brasil.io/2022/03/28/2022-03-28-hoje-encerramos-nosso-boletim-covid19/. A partir desta data, os dados estão sendo atualizados neste repositório no arquivo: `input/casos_obitos_sergipe.xlsx`.

In [4]:
dados_xlsx = pd.read_excel("../input/casos_obitos_sergipe.xlsx")
dados_xlsx['date'] = dados_xlsx['date'].astype(str)
dados_xlsx

,date,epidemiological_week,last_available_confirmed,last_available_deaths,new_confirmed,new_deaths
0,2022-03-28,0,325440,6311,166,2
1,2022-03-29,0,325611,6313,171,2
2,2022-03-30,0,325778,6315,167,2
3,2022-03-31,0,325921,6317,146,2
4,2022-04-01,0,326057,6319,136,2
...,...,...,...,...,...,...
84,2022-06-24,0,328955,6355,211,0
85,2022-06-27,0,329405,6356,114,0
86,2022-06-28,0,329686,6357,282,1
87,2022-06-29,0,330074,6358,388,1
88,2022-06-30,0,330327,6358,253,0

In [5]:
dados_sergipe_final = pd.concat([dados_sergipe, dados_xlsx], ignore_index=True)
dados_sergipe_final

,date,epidemiological_week,last_available_confirmed,last_available_deaths,new_confirmed,new_deaths
0,2020-03-14,202011,1,0,1,0
1,2020-03-15,202012,1,0,0,0
2,2020-03-16,202012,5,0,4,0
3,2020-03-17,202012,5,0,0,0
4,2020-03-18,202012,6,0,1,0
...,...,...,...,...,...,...
828,2022-06-24,0,328955,6355,211,0
829,2022-06-27,0,329405,6356,114,0
830,2022-06-28,0,329686,6357,282,1
831,2022-06-29,0,330074,6358,388,1
832,2022-06-30,0,330327,6358,253,0

In [6]:
dados_sergipe_final['mean7_confirmed'] = dados_sergipe_final['new_confirmed'].rolling(window=7).mean()
dados_sergipe_final['mean7_deaths'] = dados_sergipe_final['new_deaths'].rolling(window=7).mean()
dados_sergipe_final

,date,epidemiological_week,last_available_confirmed,last_available_deaths,new_confirmed,new_deaths,mean7_confirmed,mean7_deaths
0,2020-03-14,202011,1,0,1,0,NaN,NaN
1,2020-03-15,202012,1,0,0,0,NaN,NaN
2,2020-03-16,202012,5,0,4,0,NaN,NaN
3,2020-03-17,202012,5,0,0,0,NaN,NaN
4,2020-03-18,202012,6,0,1,0,NaN,NaN
...,...,...,...,...,...,...,...,...
828,2022-06-24,0,328955,6355,211,0,141.571429,0.285714
829,2022-06-27,0,329405,6356,114,0,146.000000,0.285714
830,2022-06-28,0,329686,6357,282,1,179.285714,0.428571
831,2022-06-29,0,330074,6358,388,1,231.428571,0.571429
832,2022-06-30,0,330327,6358,253,0,247.428571,0.428571

In [7]:
dados_sergipe_final.columns = ['data','semana_epidemiologica','total_casos_confirmados','total_obitos_confirmados','diario_casos_confirmados','diario_obitos_confirmados','media_movel7_casos','media_movel7_obitos']
dados_sergipe_final

,data,semana_epidemiologica,total_casos_confirmados,total_obitos_confirmados,diario_casos_confirmados,diario_obitos_confirmados,media_movel7_casos,media_movel7_obitos
0,2020-03-14,202011,1,0,1,0,NaN,NaN
1,2020-03-15,202012,1,0,0,0,NaN,NaN
2,2020-03-16,202012,5,0,4,0,NaN,NaN
3,2020-03-17,202012,5,0,0,0,NaN,NaN
4,2020-03-18,202012,6,0,1,0,NaN,NaN
...,...,...,...,...,...,...,...,...
828,2022-06-24,0,328955,6355,211,0,141.571429,0.285714
829,2022-06-27,0,329405,6356,114,0,146.000000,0.285714
830,2022-06-28,0,329686,6357,282,1,179.285714,0.428571
831,2022-06-29,0,330074,6358,388,1,231.428571,0.571429
832,2022-06-30,0,330327,6358,253,0,247.428571,0.428571

In [8]:
dados_sergipe_final.to_csv("../output/se_covid19_casos_obitos.csv", index=False)